@font-face{
font-family: "MyPTSans";
src: 
url("../fonts/ptsansnarrow.woff") format("woff"),
url("../fonts/ptsansnarrow.woff2") format("woff2");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "MyPTSans";
src: 
url("../fonts/ptsansnarrowbold.woff") format("woff"),
url("../fonts/ptsansnarrowbold.woff2") format("woff2");
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: "MyPTSans";
src: 
url("../fonts/ptsansnarrowitalic.woff") format("woff"),
url("../fonts/ptsansnarrowitalic.woff2") format("woff2");
font-weight: normal;
font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.button {
  padding: 10px;
  font: inherit;
  text-align: center;
  color: #ffffff;  
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  min-width: 100px;
  border: none;
  font-family: "MyPTSans";    
}
.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}
.features-list {
  list-style: none;
}
.feature-item {
  text-align: center;
}
.feature-item he {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}
.news-item time {
  text-transform: none;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}
.appointment-item input:focus {
  border-color: #663d15;
}
.main-footer {
  color: #ffffff;
  background-color: #212121;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}
.footer-social {
  text-align: center;
}
.footer-social ul {
  list-style: none;
}
.social-button {
  color: #ffffff;
}
.modal {
  color: #000000;
  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.modal ul {
  list-style: none;  
}
.modal h2 {
  font-size: 30px;
  line-height: 42px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.visually-hidden {
  display: none;
  //visibility: hidden;    
}



/* Для сеток */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid red;
}
.main-header {
  margin-bottom: 75px; 
  min-height: 285px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  min-height: 285px;
  background-color: transparent;
  align-items: center;
}
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px; 
  background-color: #000000;
}
.main-navigation-wrapper .container{
  display: flex;
  justify-content: space-between;
}
.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;

/* Временно для сетки */    
  border: 2px solid red;
}
.site-navigation {
 display: flex;
 justify-content: space-around;
 align-items: center;
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
  min-height: 70px;
  border: 2px solid red;
  //background-color: red;
}
.user-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 140px;
  list-style: none;
  min-height: 70px;
  border: 2px solid red;
  //background-color: red;
}

.features {
  margin-bottom: 80px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.feature-item {
  min-height: 170px;
  width: 300px;
  border: 2px solid red;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  color: #000000;
  padding: 50px 80px;
  margin-bottom: 30px;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}
.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}
.news {
  width: 450px;
    padding-left: 10px;
  /* Временно для сетки */
   border: 2px solid red;
}
.news-list p {
    margin-left: -40px;
}
.gallery {
  border: 7px solid #ffffff;
  padding-left: 10px;
  width: 440px;
  /* Временно для сетки */
    border: 2px solid red;
}
.gallery figure {
    margin: 0;
}
.contacts {
  //border: 7px solid #ffffff;
  width: 430px;
  padding-left: 10px;
  /* Временно для сетки */
    border: 2px solid red;
}
.appointment {
  width: 430px;
  padding-left: 10px;
  /* Временно для сетки */
    border: 2px solid red;
}
.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
  /* Временно для сетки */
  min-height: 100px;
    border: 2px solid red;
}
.footer-social {
  width:  145px;
  /* Временно для сетки */
  min-height: 100px;
    border: 2px solid red;
}
.social-wrapper {
    display: flex;
}
.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  /* Временно для сетки */
    border: 2px solid red;
}
.main-footer .container {
  display: flex;
align-items: center;
}
.copyright {
    margin-left:auto;
}